In [2]:
import pyupbit

In [3]:
def get_quote():
#     key_ticker=""
#     key_interval=""
#     key_to=""
#     key_count=""
    input_ticker = input("kind: 1_BTC, 2_ETH 3_SOL")
    input_interval = input("interval: 1_minute1, 2_minute3, 3_minute5, 4_minute10, 5_minute15, 6_minute30, 7_minute60, 8_minute240, 9_day, 10_week, 11_month") 
    key_to =  input("to: ex_2022-04-04 17:27")
    key_count = int(input("count: #"))
    if(input_ticker=="1"): key_ticker='KRW-BTC'
    elif(input_ticker=="2"): key_ticker='KRW-ETH' 
    elif(input_ticker=="3"): key_ticker="KRW-SOL"
    if(input_interval=="1"): key_interval="minute1"
    elif(input_interval=="2"): key_interval="minute3"
    elif(input_interval=="3"): key_interval="minute5"
    elif(input_interval=="4"): key_interval="minute10"
    elif(input_interval=="5"): key_interval="minute15"
    elif(input_interval=="6"): key_interval="minute30"
    elif(input_interval=="7"): key_interval="minute60"
    elif(input_interval=="8"): key_interval="minute240"
    elif(input_interval=="9"): key_interval="day"
    elif(input_interval=="10"): key_interval="week"
    elif(input_interval=="11"): key_interval="month"
    return pyupbit.get_ohlcv(ticker=key_ticker,interval=key_interval,to=key_to,count=key_count)
#    return pyupbit.get_ohlcv(ticker="KRW-BTC",interval="minute1",to="2021-09-05 11:20",count=3)    
   # return pyupbit.get_ohlcv(ticker=key_ticker,interval="minute1",to="2021-09-05 11:20",count=3)

In [4]:
get_quote()

kind: 1_BTC, 2_ETH 3_SOL1
interval: 1_minute1, 2_minute3, 3_minute5, 4_minute10, 5_minute15, 6_minute30, 7_minute60, 8_minute240, 9_day, 10_week, 11_month1
to: ex_2022-04-04 17:272022-04-04 17:27
count: #77

,open,high,low,close,volume,value
2022-04-04 16:10:00,56516000.0,56520000.0,56462000.0,56520000.0,1.627546,9.196876e+07
2022-04-04 16:11:00,56511000.0,56512000.0,56463000.0,56463000.0,1.816733,1.026427e+08
2022-04-04 16:12:00,56463000.0,56509000.0,56450000.0,56467000.0,3.167826,1.789019e+08
2022-04-04 16:13:00,56467000.0,56509000.0,56467000.0,56506000.0,1.160602,6.554895e+07
2022-04-04 16:14:00,56468000.0,56479000.0,56452000.0,56453000.0,1.785488,1.008051e+08
...,...,...,...,...,...,...
2022-04-04 17:22:00,56391000.0,56414000.0,56378000.0,56387000.0,2.825774,1.593534e+08
2022-04-04 17:23:00,56414000.0,56414000.0,56387000.0,56410000.0,1.051370,5.930004e+07
2022-04-04 17:24:00,56410000.0,56420000.0,56388000.0,56414000.0,2.343247,1.321727e+08
2022-04-04 17:25:00,56390000.0,56414000.0,56390000.0,56414000.0,0.723695,4.082086e+07
2022-04-04 17:26:00,56419000.0,56442000.0,56414000.0,56417000.0,1.424303,8.035703e+07